<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
        <h1 class="home-title">Echoes Below<br/>
<span class="home-span">Stonehollow</span></h1>
       <p class="home-text">"The deeper you go, the older the world becomes. Descend into the silent heart of the earth, where every shadow whispers
    of a time before history was written."</p></div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <div class="about-wrapper">
            <h2>About the Game</h2>
            <p class="about-text">Stonehollow: Echoes Below invites players to explore a layered underground realm shaped by time, erosion, and forgotten
            history.</p>
            <div class="about-text-wrapper">
                <p>What starts as basic caves opens up into these huge rooms and forgotten hallways that'll mess with your sense of
                direction. There is no single path forward.</p>
                <p>Players move at their own pace, examining surroundings, activating ancient mechanisms, and uncovering routes that were
                never meant to be found again.</p>
            </div>
        </div>
    </div>
</section>