body{
  background: #040505;
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.36;
    text-align: justify;
    color: #c0c0c0;
}
h2{
  font-family: "Cinzel", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #e67e22;
    margin-bottom: 24px;
}
@media only screen and (min-width: 1440px) {
body{
  font-size: 18px;
}
h2{
font-size: 52px;
}
}