.footer {
border-top: 2px solid #a9a9a9;
}
.footer-container{
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: #f1f1f1;
}
.footer-text{
  margin-top: 32px;
  text-align: center;
}
@media only screen and (min-width: 1440px) {
.footer-navigation{
  flex-direction: row;
  justify-content: end;
  gap: 60px;
}
.footer-text{
  margin-top: 60px;
}
}