.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 550px;    
}
.home-title{
    font-family: "Cinzel", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.36em;
        text-transform: uppercase;
        text-align: center;
        color: #f1f1f1;
}
.home-span{
        font-size: 32px;
        letter-spacing: 0.28em;
        color: #e67e22;
}
.home-text{
    margin-top: 16px;
        text-align: center;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }
 .home-wrapper{
    margin-top: 230px;
    width: 680px;
    margin-right: 0;
    margin-left: auto;
 }
 .home-title{
        font-size: 32px;
        letter-spacing: 1.06em;
        text-align: center;
 }
 .home-span{
        font-size: 72px;
        letter-spacing: 0.08em;
 }
 .home-text{
  width: 572px;  
 }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 948px;
}
.about-text{
        font-size: 20px;
        color: #f1f1f1;
        margin-bottom: 24px;
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media only screen and (min-width: 1440px) {
.about-section {
background-image: url("/img/about/desk.png");
height: 545px;
}
.about-wrapper{
    width: 640px;
    margin-top: 20px;
}
.about-text{
font-size: 24px;
}
}
/* The Underground World */
.underground-section{
    background-image: url("/img/underground/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.underground-text{
        font-size: 20px;
        color: #f1f1f1;
        margin-bottom: 24px;
}
.underground-wrap-one,
.underground-wrap-two{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.underground-wrap-two{
    margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
  .underground-section{
    background-image: url("/img/underground/desk.png");
  }
  .underground-text-wrap-one,
  .underground-text-wrap-two{
    width: 502px;
  }
  .underground-wrap-one,
  .underground-wrap-two {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 48px;
  }
  .und-img{
    width: 710px;
        height: 473px;
  }
.underground-wrap-two{
    flex-direction: row-reverse;
    margin-top: 64px;
}
.underground-text{
    font-size: 24px;
}
}
/* Puzzle & Navigation Systems */
.puzzle-section{
    background-image: url("/img/puzzle/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.puzzle-title{
    text-align: left;
}
.puzzle-list{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.puzzle-item{
    width: 161px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    text-align: left;
}
@media only screen and (min-width: 1440px) {
 .puzzle-section{
background-image: url("/img/puzzle/desk.png");    
 }
 .puzzle-container{
display: flex;
flex-direction: column;
gap: 64px;
 }
 .puzzle-wrapper{
    display: flex;
    justify-content: space-between;
 }
 .puzzle-title{
    width: 641px;
    margin-bottom: 0;
 }
 .puzzle-text{
    width: 528px;
 }
 .puzzle-list{
    flex-direction: row;
    justify-content: center;
    gap: 48px;
 }
 .puzzle-item{
    width: 292px;
 }
}
/* Atmosphere & Visual Tone */
.atmosphere-section{
    background-image: url("/img/atmosphere/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.atmosphere-title{
    text-align: center;
}
.atmosphere-text{
        font-size: 20px;
        text-align: center;
        color: #c0c0c0;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
 .atmosphere-section{
background-image: url("/img/atmosphere/desk.png");
 }
 .atmosphere-text{
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
 }
.desk {
    display: block;
}
}