.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 812px;
}
.home-wrapper{
    margin-top: 550px;    
}
.home-title{
    font-family: "Cinzel", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.2;
        letter-spacing: 0.36em;
        text-transform: uppercase;
        text-align: center;
        color: #f1f1f1;
}
.home-span{
        font-size: 32px;
        letter-spacing: 0.28em;
        color: #e67e22;
}
.home-text{
    margin-top: 16px;
        text-align: center;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
 }
 .home-wrapper{
    margin-top: 230px;
    width: 680px;
    margin-right: 0;
    margin-left: auto;
 }
 .home-title{
        font-size: 32px;
        letter-spacing: 1.06em;
        text-align: center;
 }
 .home-span{
        font-size: 72px;
        letter-spacing: 0.08em;
 }
 .home-text{
  width: 572px;  
 }
}
/* About the Game */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 948px;
}
.about-text{
        font-size: 20px;
        color: #f1f1f1;
        margin-bottom: 24px;
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media only screen and (min-width: 1440px) {
.about-section {
background-image: url("/img/about/desk.png");
height: 545px;
}
.about-wrapper{
    width: 640px;
    margin-top: 20px;
}
.about-text{
font-size: 24px;
}
}