@import url('./styles.css');

.background {
    letter-spacing: normal;
    text-align: left;
}

.privacy-title {
        text-align: center;
        color: #f1f1f1;
    margin-top: 70px;
    margin-bottom: 30px;

}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.policy-subtitle {
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.36;
    color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.policy-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
    
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}



.policy-span {
color: #0bf;
}